<div class="users">
  <h1>Welcome to buhle's salon</h1>
  <div class="message">
    <form action="/index" method="post">

      <h2>sign in as client <a href="clients.handlebars"></a> </h2>
      <h2>sign in as a stylist <a href="stylist.handlebars"></a> </h2>
    </form>
  </div>
</div>